.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: 100%;

  animation: appear 1s;
}

@keyframes appear {
  from {
    transform: translateY(5%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.logo {
  width: 40vh;
  max-width: 360px;
  height: auto;

  cursor: pointer;
  transition: all 0.5s;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 480px;
  align-items: center;
}

input {
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
}

#btn_login {
  margin-top: 32px;
}
