.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo {
  width: 100%;
  height: auto;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 278px;
  height: 50px;
  margin-bottom: 32px;
  padding-left: 16px;
}
//
