@import "../common/Colors.scss";

.btnMain {
  width: 122px;
  height: 28px;
}

.dropdownContainer {
  display: flex;
  justify-content: space-between;
  margin: 16px 16px;
}
//

.regionTabBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4px;
}

.searchGroup {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

#searchInput {
  height: 36px;
}
