@import "../common/Colors.scss";

.container {
  display: flex;
  height: 60px;
  padding: 8px 8px;
}

.profileImg {
  width: 36px;
  height: 36px;
  margin-right: 16px;
  border: 1px solid $grey-color;
  border-radius: 50%;
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.name {
  font-weight: bolder;
  margin-bottom: 8px;
}
.preview {
  font-size: 14px;
}
.time {
  font-size: 12px;
}
