@import "../common/Colors.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 12px 8px;
  border-top: 1px solid $grey-color;
  border-bottom: 1px solid $grey-color;
}

.btnSelected {
  margin: 4px 8px;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: $main-color;
  color: $white-color;
  font-size: 13px;
  cursor: pointer;
}

.btn {
  margin: 4px 8px;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: $grey-color;
  color: $white-color;
  font-size: 13px;
  cursor: pointer;
}
