@import "../common/Colors.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  border-bottom: 1px solid $grey-color;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    background: #c4c4c49c;
  }
}

.thumbnailBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px 0 20px;
  width: 50px;
  height: 50px;
  background-color: lightgrey;
}
.thumbnail {
  width: 30px !important;
  color: white;
  font-size: 50px;
}

.article {
  flex-grow: 2;
  cursor: default;
  p {
    margin-bottom: 6px;
  }
  .date {
    color: $dark-grey-color;
    font-size: 12px;
  }
  .title {
    font-weight: bolder;
  }
  .contestTitle {
    font-size: 14px;
  }
}

.arrow {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}

.poster {
  width: 48px;
  height: 48px;
  // border-radius: 50%;
}
