@import "../common/Colors.scss";

.container {
  position: relative;
  height: calc(812px - 170px);
}

.thumbnailBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px 0 20px;
  width: 50px;
  border-radius: 50%;
  background-color: grey;
}

.profileImg {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.profileBox {
  display: flex;
  align-items: center;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 20px;

  .name {
    flex-grow: 2;
    font-weight: bolder;
  }

  .interest {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.btnsContainer {
  display: flex;
  justify-content: center;
}

.inputContainer {
  h1 {
    font-size: 16px;
    font-weight: bolder;
    padding-top: 32px;
    padding-left: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid $grey-color;
  }
  div {
    padding-left: 8px;
  }

  .certificate {
    display: flex;
    justify-content: center;
  }

  button {
    width: 150px;
    margin: 0 8px;
    border: 1px solid $grey-color;
    border-radius: 10px;
    background-color: transparent;
  }
}

.btnEdit {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 85px;
  height: 30px;
}
