@import "../common/Colors.scss";

.textSelected {
  height: 100%;
  color: $main-color;
  font-size: 18px;
  font-weight: bold;
}

.text {
  height: 100%;
  vertical-align: middle;
  color: $dark-grey-color;
  font-size: 18px;
  font-weight: bold;
}

.btnTab {
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;

  span {
    margin: 0 12px;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchGroup {
  display: flex;
  align-items: center;
  margin: 0 20px;

  .search {
    width: 140px;
    height: 20px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
  }
  .searchBtn {
    cursor: pointer;
  }
}
//
