@import "../common/Colors.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  border-bottom: 1px solid $grey-color;
}

.thumbnailBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px 0 20px;
  width: 50px;
  border-radius: 50%;
  background-color: grey;
}
.thumbnail {
  width: 30px !important;
  color: white;
  font-size: 50px;
}

.article {
  flex-grow: 2;
  cursor: default;
  p {
    margin-bottom: 6px;
  }
  .nickname {
    font-weight: bolder;
  }
  .skill {
    color: $grey-color;
    font-size: 12px;
  }
}

.arrow {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}

.photo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
