@import "./Colors.scss";

input {
  background: #fdfcff;
  border: 1px solid #8e8e8e;
  box-sizing: border-box;
  border-radius: 30px;

  &:focus {
    outline: transparent;
    border: 1px solid $main-color;
    box-shadow: 0 0 10px transparent;
  }
}
